[Unit]
Description=Jacktrip client
After=jack@jack.service
Conflicts=jacktrip-server.service

[Service]
Type=simple
User=patch
EnvironmentFile=-/home/patch/patchOS/control-panel/server-ip
ExecStart=/bin/jacktrip -c $JACKTRIP_SERVER_IP -n 4
LimitRTPRIO=99
LimitRTTIME=infinity
LimitMEMLOCK=infinity

[Install]
WantedBy=default.target
