ACTION=="add", SUBSYSTEM=="sound", ENV{ID_MODEL}=="ES-8",RUN+="/bin/systemctl start jack.service"

ACTION=="remove", SUBSYSTEM=="sound", ENV{ID_MODEL}=="ES-8",RUN+="/bin/systemctl stop jack.service"
