<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<!-- This advertises the control panel web server -->
<service-group>
	<name replace-wildcards="yes">patchOS control panel</name>
	<service>
		<type>_http._tcp</type>
		<port>80</port>
	</service>
</service-group>
