@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FC6062;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "node_modules/bulma/sass/utilities/_all.sass";
@import "node_modules/bulma/sass/base/_all.sass";
@import "node_modules/bulma/sass/elements/button.sass";
@import "node_modules/bulma/sass/elements/container.sass";
@import "node_modules/bulma/sass/elements/title.sass";
@import "node_modules/bulma/sass/elements/tag.sass";
@import "node_modules/bulma/sass/form/_all.sass";
@import "node_modules/bulma/sass/components/navbar.sass";
@import "node_modules/bulma/sass/components/message.sass";
@import "node_modules/bulma/sass/layout/hero.sass";
@import "node_modules/bulma/sass/layout/section.sass";
@import "node_modules/bulma/sass/grid/tiles.sass";

// Update Bulma extension variables
$divider-content-background-color : $beige-lighter;
$divider-color: $grey-dark;
	
@import 'node_modules/bulma-extensions/bulma-divider/src/sass/index.sass';

body.loading {
	&:before {
		content: '';
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		left: 0;
		background-color: $beige-lighter;
		z-index: 1000;
	}

	&:after {
		@include loader;
		position: absolute;
		top: calc(50% - 2.5em);
		left: calc(50% - 2.5em);
		width: 5em;
		height: 5em;
		border-width: 0.25em;
		z-index: 1001;
	}
}

.debug-info {
	display: none;
}

.logo {
	width: 66.666%;
	max-height: 20vh;
}

input:not(:placeholder-shown):invalid {
	border-color: $danger;
}

form:invalid .connect-to-server-button {
	background-color: #FC6062;
	border-color: $button-disabled-border-color;
	box-shadow: $button-disabled-shadow;
	opacity: $button-disabled-opacity;
    pointer-events: none;
}

div {
	&.is-loading {
		position: relative;
		pointer-events: none;
		opacity: 0.5;
		min-width: 5rem;
		min-height: 5rem;
		margin-top: 2rem;

		&:after {
			@include loader;
			position: absolute;
			top: calc(50% - 2.5em);
			left: calc(50% - 2.5em);
			width: 5em;
			height: 5em;
			border-width: 0.25em;
        }
    }
}
