<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>patchOS Control Panel</title>

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="theme-color" content="#eff0eb">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="mobile-web-app-capable" content="yes">

	<link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
	<link rel="manifest" href="/static/img/site.webmanifest">
	<link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="/static/img/favicon.ico">
	<meta name="msapplication-TileColor" content="#fc6062">
	<meta name="msapplication-config" content="/static/img/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="{{ url_for('static', filename = 'css/app.css') }}">

	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>
<body class="loading">
	<button class="button is-medium shutdown-button" onclick="shutdown()">
		<span class="icon is-medium">
			<i class="fas fa-power-off fa-lg"></i>
		</span>
	</button>

	<section class="section">
		<div class="container">
			<div class="tile is-ancestor">
				<div class="tile is-vertical">
					<div class="tile is-parent">
						<div class="tile is-child has-text-centered">
							<img class="logo" src="{{ url_for('static', filename = 'img/logo.svg') }}">
						</div>
					</div>

					<div class="tile is-vertical debug-info">
						<div class="tile is-parent">
							<div class="tile is-child field is-grouped is-grouped-centered">
								<div class="control">
									<div class="tags has-addons">
										<span class="tag is-dark">jack</span>
										<span class="tag jack-status">n/a</span>
									</div>
								</div>

								<div class="control">
									<div class="tags has-addons">
										<span class="tag is-dark">jacktrip</span>
										<span class="tag jacktrip-status">n/a</span>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="tile is-parent">
						<section class="tile is-child audio-device-disconnected-view">
							<div class="is-divider"></div>
							<div class="tile is-centered">
								<p class="title has-text-centered">Please connect your audio device</p>
							</div>

							<div class="tile is-centered">
								<div class="is-loading"></div>
							</div>
						</section>

						<section class="tile is-child startup-view">
							<div class="is-divider" data-content="LET'S PATCH!"></div>
							<div class="tile buttons is-centered">
								<button class="button is-large is-link is-fullwidth start-server-button" onclick="startServer()">Start a server</button>
								<div class="is-divider" data-content="OR"></div>
								<button class="button is-large is-primary is-fullwidth" onclick="showConnectToServer()">Connect to a server</button>

							</div>
						</section>

						<section class="tile is-child server-running-view">
							<div class="is-divider" data-content="SERVER IS RUNNING AT"></div>
							<div class="tile is-centered">
								<p class="title has-text-centered external-ip">{{ externalIp }}</p>
							</div>

							<div class="is-divider"></div>

							<div class="tile buttons is-centered">
								<button class="button is-large is-outline is-fullwidth stop-button" onclick="stop()">Stop server</button>
							</div>
						</section>

						<section class="tile is-child client-connect-view">
							<div class="is-divider" data-content="SERVER IP"></div>
								<form>
							<div class="tile buttons is-centered">
								<div class="control">
									<input class="input is-large" name="serverIp" type="text" inputmode="numeric" placeholder="0.0.0.0" required pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}">
								</div>
							</div>

							<div class="tile buttons is-centered">
								<button class="button is-large is-link is-fullwidth connect-to-server-button" onclick="connectToServer()">Connect</button>
								<button class="button is-large is-outline is-fullwidth" onclick="cancelConnectToServer()">Cancel</button>
							</div>
							</form>
						</section>

						<section class="tile is-child client-connected-view">
							<div class="is-divider" data-content="CONNECTED-TO"></div>
							<div class="tile is-centered">
								<p class="title has-text-centered server-ip">{{ lastConnectedIp }}</p>
							</div>

							<div class="is-divider"></div>

							<div class="tile buttons is-centered">
								<button class="button is-large is-outline is-fullwidth stop-button" onclick="stop()">Disconnect</button>
							</div>
						</section>

						<section class="tile is-child client-error-view">
							<div class="is-divider" data-content="ERROR!"></div>
							<div class="tile has-text-centered">
								<p class="title is-4 server-ip"></p>
							</div>

							<div class="is-divider"></div>

							<div class="tile buttons is-centered">
								<button class="button is-large is-outline is-fullwidth stop-button" onclick="stop()">OK</button>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{{ url_for('static', filename = 'js/app.js') }}"></script>
</body>
</html>
